.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar-nav .nav-item .nav-link.text-danger:hover {
  color: #dc3545 !important; /* Bootstrap's danger color */
  background-color: rgba(220, 53, 69, 0.1); /* Light background on hover */
  border-radius: 0.25rem; /* Rounded corners */
}